.website-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  padding: 1.2rem;
  background-color: #b9e7e7;
  font-size: 0.8rem;
  img {
    width: 50px;
  }
}
